.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.login-button {
  @extend .button;
  background: $github-color;
}

.button--leave-room {
  @extend .button;
  background: none;
  color: #FFC107;
  border: 1px solid darken(#FFC107, 0.5);
  border-radius: 0.3;
}

.button--join {
  @extend .button;
  background: #2ecc71;
  margin-left: $s-size;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}
