.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.container__left {
  height: 95vh;
  width: 30rem;
  background: linear-gradient(to right, $github-color,#2c3e50);
  border-right: 1px solid fade-out(white, .8);;
  padding: 0 0 $l-size $l-size;
  float: left;
  
  // position: relative;
}

.container__left__text {
  height: 100%;
  overflow: auto;
}

.room-name {
  text-decoration: none;
  color: $off-white;
  font-weight: 300;
  font-size: $font-size-large;
  padding: $m-size $l-size;
  
}

.room-name-wrapper {
  border-bottom: 1px solid fade-out(white, .8);  
  &:hover {
    background: fade-out(white, 0.8);
  }
}

